<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
    <nav >
        <a href="/" class="btn btn-primary mb-3 mt-4">Volver</a>
    </nav>

    <h1 class="text-center mt-5 mb-5 text-primary">Formulario Aula Activa #1</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/user2" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="nombre" required>
                        </div>
                        <div class="col">
                            <label>Cantidad</label>
                            <input type="text" class="form-control mb-3" name="cantidad" required>
                        </div>
                        <div class="col">
                            <label>Marca</label>
                            <input type="text" class="form-control mb-3" name="marca" required>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Editar🖊️</th>
                            <th scope="col">Eliminar🗑️</th>
                        </tr>
                    </thead>               
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.nombre}}</td>
                            <td>{{d.cantidad}}</td>
                            <td>{{d.marca}}</td>
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Editar</button></td>
                            <td><a href="{{url_for('delete1', id=d.id)}}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                        <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.nombre}}</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/edit1/{{d.id}}" method="post">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control mb-3" name="nombre" value="{{d.nombre}}">
                                        <label>Cantidad</label>
                                        <input type="text" class="form-control mb-3" name="cantidad" value="{{d.cantidad}}">
                                        <label>Marca</label>
                                        <input type="text" class="form-control mb-3" name="marca" value="{{d.marca}}">                                 
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>    
</body>
</html>