<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
        crossorigin="anonymous"/>
    <link  rel="Stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<title>Salas</title>

</head>
<body>

	<main class="container">

		<div class="row salas">
			<article class="col-12 text-center">
				<h2 class="subtitulo"><span>Salas Disponibles</span></h2>
			</article>

			<div class="col-12">
				<div class="row justify-content-center">
					<article class="<col-6 col-lg-3 py-1>">
						<figure class="salaimg">
							<img src="{{ url_for('static', filename='img5.jpg')}}" class="img-fluid" alt="">
						</figure>
						<a href="/sala" title="" class="enlace">Formulario Aula#1</a>
					</article>

					<article class="<col-6 col-lg-3 py-1>">
						<figure class="salaimg">
							<img src="{{ url_for('static', filename='imgn2.jfif')}}" class="img-fluid" alt="">				
						</figure>
						<a href="/form" title="" class="enlace">Formulario Aula#2</a>
					</article>

					<article class="<col-6 col-lg-3 py-1>">
						<figure class="salaimg">
							<img src="{{ url_for('static', filename='imgn3.jfif')}}" class="img-fluid" alt="">
						</figure>
						<a href="/sala3" title="" class="enlace">Formulario Sala#1</a>
					</article>
				</div>
			</div>
			
		</div>
	</main>
	
</body>
</html>